**/settings/Mainnet.toml
**/settings/Testnet.toml

.archive/
.cache/**
*/.cache/**
*.cache/**
contracts/.cache/
street/.cache/
capital/.cache/
**/chainhooks/
chainhook*
**/templates/

logs
*.log
npm-debug.log*
*.info
node_modules
*.template.json